
<body class="no-skin">
    @Html.Partial("nav")

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>
        <!-- 左边栏布局 Sidebar -->
        @Html.Partial("sidebar")

        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                   
                    <!--     <iframe id="mainframe" name="mainframe" scrolling="no" src="~/User/UserManage"
                                  frameborder="0" style="padding: 0px; width: 100%; height: 1000px;"></iframe> -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <!--主体布局-->
        @Html.Partial("footer")

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

</body>

